/* Header */

body {
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
#hero {
    background-image: url('background.jpg'); /* Подставьте своё изображение */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #cc5500;
}

/* Other Sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('https://internationalinvestment.biz/uploads/posts/2020-10/1603700200_marina-bay.jpg'); 
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    min-height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #cc5500;
}

/* Other Sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

/* Portfolio */
.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

/* Testimonials */
.testimonial {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial p:last-child {
    font-weight: bold;
}

/* Contact Form */
form input,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

form button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #cc5500;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#services {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#services p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

#services ul {
    list-style-type: none;
}

#services ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Styling for list items with icons */
#services ul li:before {
    content: "\2022"; /* Добавление круглой точки в начало каждого элемента списка */
    color: #ff6600; /* Цвет круглой точки */
    font-size: 20px; /* Размер круглой точки */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#about {
    background-color: #f2f2f2;
    padding: 50px 0;
    min-height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#about .container {
    text-align: center;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

#portfolio {
    padding: 50px 0;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolio .container {
    text-align: center;
}

#portfolio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.portfolio-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.portfolio-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.portfolio-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

#process {
    background-color: #f2f2f2;
    padding: 50px 0;
}

#process .container {
    text-align: center;
}

#process h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#process p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

#process ol {
    list-style-type: none;
}

#process ol li {
    font-size: 20px;
    margin-bottom: 10px;
    counter-increment: list-item;

}

#process ol li:before {
    content: counter(list-item);
    color: #ff6600;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
}

#testimonials {
    padding: 50px 0;
}

#testimonials .container {
    text-align: center;
}

#testimonials h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.testimonial {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial p:last-child {
    font-weight: bold;
    color: #666;
}


#pricing {
    background-color: #f2f2f2;
    padding: 50px 0;
}

#pricing .container {
    text-align: center;
}

#pricing h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#pricing p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

#pricing form {
    max-width: 600px;
    margin: 0 auto;
}

#pricing input,
#pricing textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pricing button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pricing button:hover {
    background-color: #cc5500;
}

#services a {
    margin-top: 20px;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#services a:hover {
    background-color: #cc5500;
}